form(action="/productos" method="post")
  label(for="name") Nombre
  input#name(type="text" name="name" required="")
  label(for="price") Precio
  input#price(type="text" name="price" required="")
  label(for="url") URL
  input#url(type="text" name="url" required="")
  button(type="submit") Submit