<div class="container">
<form id="form" method="post">
    <h2>Ingrese un producto</h2>
    <label for="name">Nombre</label>
    <input type="text" id="name" name="name" />
    <label for="price">Precio</label>
    <input type="number" id="price" name="price" />
    <label for="url">URL</label>
    <input type="text" id="url" name="url" /> 
    <button type="submit" id="submit" class="btn btn-secondary">Submit</button>
</form>
</div>