
{{> form }}
{{#if products.length}}
<div class="container">
    <h2>Catalogo</h2>

<table class="table table-success table-striped" id="render"></table> 
</div>
{{else}}
<h2>No hay productos</h2>
{{/if}}

{{> chat }}

