<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo</title>
</head>
<body>
    <h1>Catalogo de productos</h1>
    <% if(products.length > 0) { %>
    <table>
      <tr>
        <th>Producto</th>
        <th>Precio</th>
        <th>Imagen</th>
      </tr>
      <tr>
          <% products.forEach(function(product) { %>
          <td><%= product.name %></td>
          <td><%= product.price %></td>
          <td><img src="<%= product.url %>" width="50px"/></td>
        </tr>
        <% }); %>
    </table> 

    <% }else{ %>
      <h2>No hay productos</h2>
      <% }; %>
    <a href="/">Home</a>
</body>
</html>