<div class="container">
<form id="login_form" method="post" action="/register">
    <h2>Register</h2>
    <label for="email">Email</label>
    <input type="text" id="email" name="email" placeholder="Email" />
    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Password" />
    
    <button type="submit" id="register_btn" class="btn btn-secondary">Register</button>
</form>
</div>

<div class="container"><a href="/login">Login</a></div>
<div class="container"><a href="/">Back home</a></div>