<div class="container">
<form id="login_form" method="post" action="/login">
    <h2>Login de usuario</h2>
    <label for="login">Nombre</label>
    <input type="text" id="login" name="username" placeholder="Ingrese su nombre" />
    
    <button type="submit" id="login_btn" class="btn btn-secondary" >Submit</button>
</form>
</div>