<div class="container" id="chat__container">
    
    <h2>Chat</h2>
   

    <div id="chat"></div>
    <div>
        <label for="msg">Mensaje</label>
        <input type="text" name="msg" id="msg" placeholder="Ingresa tu mensaje" />
        <button type="submit" id="enviar" class="btn btn-secondary">Enviar!</button>
    </div>
</div>