<div>
    <h2>Chat</h2>
    <label for="mail">Autor</label>
    <input type="text" name="mail" id="mail" placeholder="Ingresa tu email" required />
    <div id="chat"></div>
    <div>
        <label for="msg">Mensaje</label>
        <input type="text" name="msg" id="msg" placeholder="Ingresa tu mensaje" />
        <button type="submit" id="enviar">Enviar!</button>

    </div>
</div>