<table>
<thead>
  <tr>
    <th>number</th>
    <th>quantity in array</th>
  </tr>
</thead>
<tbody>
{{#each childMsg}}
  <tr>
    <td>{{@key}} </td>
    <td>{{this}}</td>
  </tr>
{{/each}}
</tbody>
</table>


